<link rel="stylesheet" href="/css/_header.css" />

<div class="bg-div">
  <div class="quora-logo"><a href="/">
      <img class="logo-img"
        src="https://ninjasfiles.s3.amazonaws.com/profile363594b8421314383232a87f654392c663f606.jpeg" width="130"
        height="130" ALT="align box" ALIGN="CENTER" /><br> Gaurav Dwivedi<br>
      Founder and Ceo<br>
      codingwithgaurav@gmail.com</a>

  </div>
  <div class="nav-class">
    <nav>
      <ul>
        <% if(locals.user){ %>
        <li>
          <div><img class="icon" src="https://img.icons8.com/cute-clipart/64/000000/home.png" /></div><a
            href="/">Home</a>
        </li>
        <li>
          <div><img class="icon" src="https://img.icons8.com/dusk/64/000000/push-notifications.png" /></div><a
            href="#">Notifications</a>
        </li>
        <li>
          <div><img class="icon" src="https://img.icons8.com/officel/64/000000/guest-male.png" /></div><a
            href="/user/profile/<%= locals.user._id%>">Account</a>
        </li>
        <li>
          <div><img class="icon" src="https://img.icons8.com/emoji/48/000000/question-mark-emoji.png" /></div><a
            href="/posts/ask">Ask Question</a>
        </li>
        <li>
          <div><img class="icon" src="https://img.icons8.com/dusk/64/000000/activity-feed-2.png" /></div><a
            href="/posts/add-feed">Add Feed</a>
        </li>
        <li>
          <div><img class="icon" src="https://img.icons8.com/dusk/64/000000/logout-rounded-left.png" /></div><a
            href="/user/sign-out">Logout</a>
        </li>
        <li>
          <input type="text" placeholder="Search" class="searchbar" />
          <div class="icon"></div>
        </li>
        <% }else{ %>
        <li>
          <div><img class="icon" src="https://img.icons8.com/cute-clipart/64/000000/home.png" /></div><a
            href="/">Home</a>
        </li>
        <li>
          <div><img class="icon" src="https://img.icons8.com/dusk/64/000000/login-rounded-right.png" /></div><a
            href="/user/login">Login</a>
        </li>
        <li><input type="text" placeholder="Search" class="searchbar" /></li>
        <% } %>
      </ul>
    </nav>
  </div>
</div>