<form method="POST" action="/posts/add-question">
    <input id="add-question" name="addquestion" placeholder="ask your question here..." required />
    <label for="cat">Choose a Category</label>
    <select name="category" id="cat">
        <% for(item of feeds){%>
        <option value="<%=item._id%>"><%=item.feedname%></option>
        <%}%>
    </select>
    <button type="submit" value="Question">Add</button>
</form>