<form method="POST" action="/posts/add-comment">
    <input id="add-comment" name="content" placeholder="comment..." required />
    <input type="hidden" name="postid" value="<%post._id%>" required />
    <button type="submit" value="Feed">comment</button>
</form>