<link rel="stylesheet" href="/css/home.css" />


<!-- <button id="press-me">Press Me</button> -->
<div class="home-container">
  <div class="feeds">
    <h1>Feeds</h1>
    <ul>
      <% for(feed of feeds){ %>
      <li><%- include('_feed') -%></li>
      <%}%>
    </ul>
  </div>

  <div class="posts-list-container">
    <% if(locals.user){%>
      <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
        <br>
        <input type="submit" value="Post" />
      </form>
      <%}%>
    <br>
    <ul>
      <% for(post of posts){ %>
      <li> <%- include('_post') -%></li>
          
      <%} %>
    </ul>
  </div>
  <div class="right-container">
  </div>
</div>

<!-- <script src="/js/play.js"></script> -->