<link rel="stylesheet" href="/css/main.css" />


<div class="main-container">
    <div class="left">
        <h1>Sponser Login</h1>
        <div class="sponser-login-box">
<form action="/influencer">
    <button type="submit" class="login-btn button1" >Login</button>
</form>
    
        </div>
    </div>
    <div class="right">
        <h1>Influencer Login</h1>

        <div class="influencer-login-box">
            <form>
                <button type="submit" class="login-btn button2">Login</button>
            </form>
        </div>
    </div>
</div>