<form>
    <input type="password" placeholder="Enter new Password" name="password"/>
    <input type="password" placeholder="Confirm above " name="confirm-password"/>
    <input type="submit"/>
</form>