<!-- Reset password service stopped because Heroku does not provide Redis-server without CreditCard -->
<a
    href="http://127.0.0.1:8000/user/change_password_via_email/<%= token %>">http://127.0.0.1:8000/user/change_password_via_email/<%= token %>></a>