
.text-align-end{
    text-align: end;
  }

  .one-space-right{
    margin-right: 10px;
  }
  .two-space-below{
    margin-bottom: 20px;
  }

  textarea {
    resize: none;
    width: 600px;
    height: 50px;
    
  }

  .all-posts{
    width: 568px;
    height: auto;
    padding: 10px;
    background-color: #ffffff;
  box-sizing: border-box;
  text-align: left;
  /* flex-grow: 4; */
  box-shadow: 0 3px 6px #ffffff;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  /* direction: ltr; */
  /* padding-left: 16px;
  padding-right: 16px; */
  position: relative;
}

.post-comments{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-comments-list{
  
  background-color: whitesmoke;
  padding: 5px;
  border: 1px solid wheat;
}

.user-delete-comment{
  display: flex;
  justify-content: space-between;
}
