
.text-align-end{
    text-align: end;
  }

  .one-space-right{
    margin-right: 10px;
  }

  textarea {
    resize: none;
  }

  .all-posts{
    padding: 10px;
    margin: 15px;
    background-color: #ffffff;
  box-sizing: border-box;
  text-align: left;
  /* flex-grow: 4; */
  box-shadow: 0 3px 6px #ffffff;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  direction: ltr;
  /* padding-left: 16px;
  padding-right: 16px; */
  position: relative;
}